*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/.vscode/
**.ini
/installer/**.exe
**/logs/
/.trae/
/flutter_player/.dart_tool/
/flutter_player/windows/flutter/ephemeral/
/flutter_player/.flutter-plugins-dependencies
/mapping.txt
