*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/.vscode/
**.ini
/installer/**.exe
**/logs/
/.trae/
/flutter-player/.dart_tool/
/flutter-player/windows/flutter/ephemeral/
/flutter-player/.flutter-plugins-dependencies
/mapping.txt
/flutter-player/macos/

# Flutter-related
**/Flutter/ephemeral/
**/Pods/

# Xcode-related
**/dgph
**/xcuserdata/
